body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

.header-content {
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.left-header-content li {
  color: white;
  background-color: black;
}

.sub-header-content {
  display: flex;
  flex-direction: row-reverse;
  text-wrap: nowrap;
  list-style: none;
  gap: 20%;
}

.main-visual img {
  height: 600px;
  width: 100%;
}

.self-intro {
  width: 960px;
}

.intro-item {
display: flex;
justify-content: center;
gap: 16px;
}

.intro-item img {
  border-radius: 50%;
}

.image-grid {
  display: flex;
  justify-content: center;
  gap: 16px;
}


.image-item img {
  width: 300px;
}

footer {
  font-weight: lighter;
}